/*celular*/

@media (max-width: 576px) {
    .nav__list {
        background-color: white;
        width: 100%;
        height: calc(100vh - 65px);
        position: absolute;
        top:65px;
        left: 0;
        flex-direction: column;
        display: none;
    }

    .login img {
        width: 30px;
    }
    .navbar i{
        display: block;
    }

    #toggle-menu:checked ~ .nav__list {
        display: flex;

    }

    #home {
        background: none;
        height: 400px;
    }

    .hero__info h1 {
        font-size: 3.5rem;
        padding: 0 30px 0 30px;
        text-align: center;

    }

    #beneficios {
        flex-direction: column;
        max-height: 100%;
    }
    .descripción {
        padding: 0;
    }

    .beneficio__container {
        flex-direction: column;
        gap: 40px;
    }
    
    
    #planes{
        padding: 10px 0;
    }
    .planes__title{
        font-size: 1.5rem;

    }


    .cards__container{
        flex-direction: column;
    }

    #contact{
        max-width: 600px;
        padding: 30px 0;
    }

    .contact__container {
        box-shadow: none;
    }
}


/*tablet*/
@media (max-width: 992px) {

    .hero__info h1 {
        font-size: 4.3rem;
        padding: 0 30px 0 30px;
        text-align: center;

    }    

    .descripción {
        font-size: 1.3rem;
    }

    .beneficio {
        max-width: 300px;

    }

    .beneficio p{
        font-size: 18px;
    }

    .cards__container{
        flex-wrap: wrap;
        max-width: 800px;
        gap: 50px;
    }

    }