@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
   background: rgb(241,228,243);
background: linear-gradient(215deg, rgba(241,228,243,1) 0%, rgba(235,59,169,0.39548319327731096) 100%);

}

header {
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
    position: fixed;
	padding: 0 20px;
	width: 100%;
	height: 65px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none;
}
.nav__list {
	display: flex;
	align-items: center;
	justify-content:space-around;
	max-width: 1200px;
	gap: 50px;
}

.nav__logo {
    font-family: 'Poppins', sans-serif;
    color: #fe5d9f;
}

.nav__list li {
	position: relative;
}

.nav__list a{
    color: #f686bd;
    font-family: 'Poppins', sans-serif;
}

.nav__list a:hover {
    color: #898787;
}
 

.login img{
    width: 25px;
}

#home {
    width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
    background: url(../assets/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero__info h1{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 5rem;
    color: rgb(46, 46, 46);
}
.btn {
	padding: 8px 20px;
    border: solid 3px;
	border-radius: 1rem;
    border-color: #fe5d9f;
    font-family: 'Poppins', sans-serif;
    color: #fe5d9f;
}

.btn:hover {
    background-color: #fe5d9f;
    color:white;
}

#beneficios {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
	margin: 0 auto;
    padding: 80px 0;;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.descripción {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}
.beneficio__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
	max-width: 1200px;
    gap: 10px;

}
.beneficio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    align-self: first baseline;
}

.beneficio__container img {
    border-radius: 50%;
    width: 50%;
}

.beneficio p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
}

#planes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1200px;
	margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 80px 0;
    
}

.planes__title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.cards__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    gap: 10px;
    
}

.cards__img img {
    width: 200px;
    border-radius: 0.7rem;
}

.cards__planes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    max-width: 300px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 1rem;
    
}

.cards__info {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	padding: 0px 30px;
    text-align: center;
}

.cards__info h2, p {
    font-family: 'Poppins', sans-serif;

}
.cards__info h2 {
    font-size: 20px;
    padding-top: 10px;
}



#contact {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
    padding : 90px 0 30px;
}

.contact__container {
	max-width: 800px;
	width: 100%;
	padding: 20px 30px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.contact__container h3 {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #ff0a54;
}

.contact__container input {
	width: 100%;
	border: 1px solid #c9c8c8;
	padding: 15px;
	border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.contact__container textarea {
	height: 100px;
	width: 100%;
	background: #fff;
	margin: 0 0 5px;
	padding: 15px;
	border-radius: 20px;
}

.contact__container button {
	cursor: pointer;
    background-color: #fe5d9f;
	color: #fff;
	padding: 8px 20px;
	border-radius: 20px;
    border-color: #fe5d9f;
}

footer {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.footer__title {
  font-size: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #898787;

}